.UserComp {
    width: 65%;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;

    background-color: silver;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 2%;
    padding: 10px;
    text-align: center;
}

.UserComp > h3 {
    margin: 10px 0 2px;
    text-align: center;
}

.UserComp > p {
    width: 70%;
    text-align: start;
    margin: 1px 0;
    font-weight: 500;
}

.UserComp > button {
    width: 40%;
    background: white;
    border: 2px solid black ;
    border-radius: 15px;
    margin-top: 10px;

}


