.UserComp {
    width: 35%;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;

    background-color: silver;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 2%;
    padding: 10px;
    text-align: center;
}

.UserComp > h2 {
    width: 70%;
    border-bottom: 2px solid black;
    margin: 0 0 10px;
}

.UserComp > p {
    width: 70%;
    text-align: start;
    margin: 1px 0;
    font-weight: 500;
}

.UserComp > h3 {
    width: 70%;
    border-top: 2px solid black;
    margin: 10px 0 2px;
    text-align: start;
}